{% extends "index.html" %}

{% block css %}
    <!-- Custom style -->
    <link rel="stylesheet" href="{{ url_for('account.static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <!-- Main container -->
    <main class="container">
        <div class="settings-group">
            <h1>Account Settings</h1>

            <div class="grid setting">
                <div>
                    <b>Username</b><br>
                    {{ user.username }}
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-username" onclick="toggleModal(event)" role="button">Edit</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>First name</b><br>
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        <em>No first name provided</em>
                    {% endif %}
                </div>
                <div class="edit-button">
                    <a href="#" role="button">Edit</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Last name</b><br>
                    {% if user.last_name %}
                        {{ user.last_name }}
                    {% else %}
                        <em>No last name provided</em>
                    {% endif %}
                </div>
                <div class="edit-button">
                    <a href="#" role="button">Edit</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Email</b><br>
                    {{ user.email }}
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-email" onclick="toggleModal(event)" role="button">Edit</a>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <h2>Account</h2>

            <div class="grid setting">
                <div>
                    <b>Change password</b><br>
                    <em>Last updated on {{ password_changed }}</em>
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-password" onclick="toggleModal(event)" role="button">Change password</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Export data</b><br>
                    <em>Download your records</em>
                </div>
                <div class="edit-button">
                    <a href="/account/export_data" role="button">Export data</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Delete account</b><br>
                    <em>Sorry to see you go</em>
                </div>
                <div class="edit-button">
                    <a href="#" role="button" class="danger">Delete account</a>
                </div>
            </div>
        </div>

        <!-- Modals -->

        <dialog id="modal-change-username">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-username" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your username</h1>
                        <h4>What's your new username?</h4>
                    </hgroup>
                </header>
                
                <form id="change-username-form" method="post" action="{{ url_for('account.update_username', username='test') }}">
                    <input id="new-username-input" type="username" name="new-username" placeholder="New username" aria-label="New username" autocomplete="username" required>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-username" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-username" class="no-bottom-margin" form="change-username-form" data-target="modal-change-username" aria-label="Confirm" onclick="toggleModal(event)" disabled>Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-change-email">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-email" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your email</h1>
                        <h4>What's your new email?</h4>
                    </hgroup>
                </header>
                
                <form id="change-email-form" method="post" action="{{ url_for('account.update_email', email='test') }}">
                    <input id="new-email-input" type="email" name="new-email" placeholder="New email" aria-label="New email" autocomplete="email" required>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-email" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-email" class="no-bottom-margin" form="change-email-form" data-target="modal-change-email" aria-label="Confirm" onclick="toggleModal(event)" disabled>Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-change-password">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-password" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your password</h1>
                        <h4>What's your new password?</h4>
                    </hgroup>
                </header>
                
                <form id="change-password-form" method="post" action="{{ url_for('account.update_password', password='test') }}">
                    <input id="old-password-input" type="password" name="old-password" placeholder="Old password" aria-label="Password" autocomplete="old-password" required>
                    <input id="new-password-input" type="password" name="new-password" placeholder="New password" aria-label="Password" autocomplete="new-password" required>
                    <input id="confirm-password-input" type="password" name="confirm-password" placeholder="Confirm Password" aria-label="Confirm Password" autocomplete="new-password" required>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-password" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-password" class="no-bottom-margin" form="change-password-form" data-target="modal-change-password" aria-label="Confirm" onclick="toggleModal(event)" disabled>Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

    </main>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<!-- Input validation Javascript -->
<script src="{{ url_for('account.static', filename='js/account_validate.js') }}"></script>
{% endblock %}