{% extends "index.html" %}

{% block css %}
    <!-- Custom style -->
    <link rel="stylesheet" href="{{ url_for('account.static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <!-- Main container -->
    <main class="container">

        <h1>Account Settings</h1>

        <div class="settings-group">
            <h2>Your details</h2>

            <div class="grid setting">
                <div>
                    <b>Username</b><br>
                    {{ user.username }}
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-username" onclick="toggleModal(event)" role="button">Edit</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>First name</b><br>
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        <em>No first name provided</em>
                    {% endif %}
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-name" onclick="toggleModal(event)" role="button">Edit</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Last name</b><br>
                    {% if user.last_name %}
                        {{ user.last_name }}
                    {% else %}
                        <em>No last name provided</em>
                    {% endif %}
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-name" onclick="toggleModal(event)" role="button">Edit</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Email</b><br>
                    {{ user.email }}
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-email" onclick="toggleModal(event)" role="button">Edit</a>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <h2>Appearance</h2>

            <div class="grid setting">
                <div>
                    <b>Theme</b><br>
                    <em>Change your theme</em>
                </div>
                <div class="theme-setting">
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="button">
                            Theme
                        </summary>
                        <ul role="listbox">
                            <li><a href="#" data-theme-handler="auto">Auto</a></li>
                            <li><a href="#" data-theme-handler="light">Light</a></li>
                            <li><a href="#" data-theme-handler="dark">Dark</a></li>
                        </ul>
                    </details>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <h2>Privacy & security</h2>

            <div class="grid setting">
                <div>
                    <b>Change password</b><br>
                    <em>Last updated on {{ password_changed }}</em>
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-change-password" onclick="toggleModal(event)" role="button">Change password</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Export data</b><br>
                    <em>Download your records</em>
                </div>
                <div class="edit-button">
                    <a href="/account/export_data" role="button">Export data</a>
                </div>
            </div>

            <div class="grid setting">
                <div>
                    <b>Delete account</b><br>
                    <em>Sorry to see you go</em>
                </div>
                <div class="edit-button">
                    <a href="javascript:void(0);" data-target="modal-delete-account" onclick="toggleModal(event); enableDeleteAccountConfirm()" role="button" class="danger">Delete account</a>
                </div>
            </div>
        </div>

        <!-- Modals -->

        <dialog id="modal-change-username">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-username" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your username</h1>
                        <h4>What's your new username?</h4>
                    </hgroup>
                </header>
                
                <form id="change-username-form" method="post" action="{{ url_for('account.update_username', username='test') }}">
                    <input id="new-username-input" type="username" name="new-username" placeholder="New username" aria-label="New username" autocomplete="username" required>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-username" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-username" class="no-bottom-margin" form="change-username-form" data-target="modal-change-username" aria-label="Confirm" onclick="toggleModal(event)" disabled>Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-change-name">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-name" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your name</h1>
                        <h4>What's your new name?</h4>
                    </hgroup>
                </header>
                
                <form id="change-name-form" method="post" action="{{ url_for('account.update_name', name='test') }}">
                    <div class="grid tight">
                        <div class="tight">
                            <input id="new-first-name-input" type="text" name="new-first-name" placeholder="First Name" {% if user.first_name %}value="{{ user.first_name }}"{% endif %} aria-label="First Name" autocomplete="given-name">
                        </div>
                        <div class="tight">
                            <input id="new-last-name-input" type="text" name="new-last-name" placeholder="Last Name" {% if user.last_name %}value="{{ user.last_name }}"{% endif %} aria-label="Last Name" autocomplete="family-name">
                        </div>
                    </div>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-name" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-name" class="no-bottom-margin" form="change-name-form" data-target="modal-change-name" aria-label="Confirm" onclick="toggleModal(event)">Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-change-email">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-email" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your email</h1>
                        <h4>What's your new email?</h4>
                    </hgroup>
                </header>
                
                <form id="change-email-form" method="post" action="{{ url_for('account.update_email', email='test') }}">
                    <input id="new-email-input" type="email" name="new-email" placeholder="New email" aria-label="New email" autocomplete="email" required>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-email" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-email" class="no-bottom-margin" form="change-email-form" data-target="modal-change-email" aria-label="Confirm" onclick="toggleModal(event)" disabled>Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-change-password">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-change-password" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Change your password</h1>
                        <h4>What's your new password?</h4>
                    </hgroup>
                </header>
                
                <form id="change-password-form" method="post" action="{{ url_for('account.update_password', password='test') }}">
                    <input id="old-password-input" type="password" name="old-password" placeholder="Old password" aria-label="Password" autocomplete="old-password" required>
                    <input id="new-password-input" type="password" name="new-password" placeholder="New password" aria-label="Password" autocomplete="new-password" required>
                    <input id="confirm-password-input" type="password" name="confirm-password" placeholder="Confirm Password" aria-label="Confirm Password" autocomplete="new-password" required>
                </form>

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-change-password" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-modal-change-password" class="no-bottom-margin" form="change-password-form" data-target="modal-change-password" aria-label="Confirm" onclick="toggleModal(event)" disabled>Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

        <dialog id="modal-delete-account">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-delete-account" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Delete your account</h1>
                        <h4>Do you really want to delete your account?</h4>
                    </hgroup>
                </header>
                
                This process is <b>irreversible</b>. Are you <b>certain</b> you want to delete your account and all associated data forever?
                <br><br>
                The confirmation button will be enabled within 5 seconds.

                <footer>
                    <div class="row">
                        <div class="col-lg-6">
                            <a id="confirm-href-delete-account" href="javascript:void(0);">
                                <button id="confirm-modal-delete-account" class="danger no-bottom-margin" data-target="modal-delete-account" aria-label="Yes" onclick="toggleModal(event)" disabled>Yes</button>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-delete-account" aria-label="No" onclick="toggleModal(event)">No</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>

    </main>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<!-- Input validation Javascript -->
<script src="{{ url_for('account.static', filename='js/account_validate.js') }}"></script>
{% endblock %}