/* Pico overrides */

:root {
    --primary: #5e35b1;
}

/* Dropdowns */

.divider {
    height: 1px;
    border: none;
    color:var(--secondary);
    background-color:var(--secondary);
}

/* General */

.thin-card {
    padding: 2em;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}