/* Pico overrides */

:root {
    font-family: "Inter", sans-serif;
}

/* General */

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */

nav {
    background-color: rgba(75, 75, 75, 0.025);
    border-bottom: 1px solid rgba(75, 75, 75, 0.2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li:first-child {
    /* First child is typically the logo */
    padding-left: 0;
    margin-right: auto;
}

nav ul li.hide-on-mobile:not(:first-child):not(:last-child) {
    padding-right: 2.5rem;
}

nav ul li.hide-on-mobile:has(details) {
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar li a, .sidebar details summary {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}

.menu-button {
    display: none;
}

@media(max-width: 800px) {

    /* Hide elements on small screens */
    .hide-on-mobile {
        display: none;
    }

    /* Show the hamburger menu */
    .menu-button {
        display: block;
    }

}

@media(max-width: 400px) {

    /* Make the sidebar take up the full width on narrow devices */
    .sidebar {
        width: 100%;
    }

}

/* Dropdowns */

.divider {
    height: 1px;
    border: none;
    color: var(--secondary);
    background-color: var(--secondary);
}

/* Message flashing */

article.alert {
    padding: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: rgba(255, 0, 0, 0.15);
}


.flashes article:last-of-type {
    margin-bottom: var(--block-spacing-vertical);
}

article.alert div.row div {
    padding: 0;
    margin: 0;
}

/* General */

.thin-header {
    padding: 2em;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}

/* Footer */

.footer {
    margin-top: auto;
    --block-spacing-vertical: 1rem;
    background-color: rgba(75, 75, 75, 0.025);
    border-top: 1px solid rgba(75, 75, 75, 0.2);
}

.footer .footer-links {
    text-align: center;
}

.footer .footer-links div.row > div {
    padding-bottom: 0;
}

.footer .footer-links a {
    color: var(--secondary);
}

.footer .footer-links a:hover {
    color: var(--primary);
}

@media(max-width: 768px) {
    .footer .footer-links div.row > div {
        padding-bottom: 1rem;
    }
}