{% extends "index.html" %}

{% block css %}
        <!-- Blueprint-specific style -->
        <link rel="stylesheet" href="{{ url_for('records.static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <!-- Main container -->
    <main class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <article class="alert">
                            <div class="row">
                                <div class="col-1" style="text-align: center;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26" style="margin-right: 1rem;"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                                </div>
                                <div class="col-11">
                                    <strong>{{ message }}</strong>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <article style="margin-top: 0;">
            <header class="thin-header">
                <h4 class="no-bottom-margin">Add a new record</h4>
            </header>
            <form method="post" action="/record/add">
                <div class="grid">
                    <div>
                        <label class="no-bottom-margin" for="timestamp">Timestamp
                            <input class="no-bottom-margin" type="datetime-local" id="timestamp" aria-label="Timestamp" name="timestamp" required>
                        </label>
                    </div>
                    <div>
                        <label class="no-bottom-margin" for="mileage">Mileage
                            <input class="no-bottom-margin" type="number" id="mileage" min="0" aria-label="Mileage" name="mileage" required>
                        </label>
                    </div>
                </div>
                <label class="no-bottom-margin" for="notes">Notes*
                    <input class="no-bottom-margin" type="text" id="notes" placeholder="Add some optional notes here" aria-label="Notes" name="notes">
                </label>
                <button id="submit-new-record" class="no-bottom-margin" style="margin-top: 10px;" disabled>Submit</button>
            </form>
        </article>

        <form method="post" action="{{ url_for('records.filter_records') }}">
            <div class="row">
                <div class="col-md-4 col-lg-5">
                    <label class="no-bottom-margin" for="from-timestamp">Records from
                        <input class="no-bottom-margin" type="datetime-local" id="from-timestamp" aria-label="Timestamp From" name="from" {% if from_timestamp %}value="{{ from_timestamp }}"{% endif %}>
                    </label>
                </div>
                <div class="col-md-4 col-lg-5">
                    <label class="no-bottom-margin" for="to-timestamp">Records until
                        <input class="no-bottom-margin" type="datetime-local" id="to-timestamp" aria-label="Timestamp To" name="to" {% if to_timestamp %}value="{{ to_timestamp }}"{% endif %}>
                    </label>
                </div>
                <div class="col-md-4 col-lg-2" style="align-self: end !important">
                    <button id="apply-button">Apply</button>
                </div>
            </div>
        </form>

        {% if records.items %}
        <div class="container">
            <table role="grid">
                <thead>
                    <th style="width: 15%;">Date</th>
                    <th style="width: 15%;">Time</th>
                    <th style="width: 15%;">Mileage</th>
                    <th style="width: 42%;" class="desktop-only">Notes</th>
                    <th style="width: 13%;"></th>
                </thead>
            {% for record in records.items %}
                <tr>
                    <td>{{ record.record_datetime.strftime("%Y-%m-%d") }}</td>
                    <td>{{ record.record_datetime.strftime("%-I:%M %p") }}</td>
                    <td>{{ record.mileage }}</td>
                    <td style="width: 35%;" class="desktop-only">{{ record.notes if record.notes else "" }}</td>
                    <td style="width: 20%">
                        <a style="width: 50px" href="javascript:void(0);" data-target="modal-update-{{ record.record_id }}" onclick="toggleModal(event)" class="record-button" role="button">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a style="width: 50px" href="javascript:void(0);" data-target="modal-delete-{{ record.record_id }}" onclick="toggleModal(event)" class="record-button deep-red" role="button">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>

            <div class="row">
                <div class="col-sm-8" style="align-self: center !important">
                    {% if records.prev_num or records.next_num %}
                    <div class="desktop-only">
                    Page {{ records.page }} of {{ records.pages }}: 
                    {% for page in records.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
                        {% if page %}
                        <a href="{{ url_for('records.records', page_num=page, per_page=records.per_page, from=from_timestamp, to=to_timestamp) }}" style="padding: 5px;">{{page}}</a>
                        {% else %}
                        ...
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <div style="float: right !important;">
                        {% if records.prev_num %}
                        <a href="{{ url_for('records.records', page_num=records.prev_num, per_page=records.per_page, from=from_timestamp, to=to_timestamp) }}" role="button" class="secondary pagination-button">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        {% if records.next_num %}
                        <a href="{{ url_for('records.records', page_num=records.next_num, per_page=records.per_page, from=from_timestamp, to=to_timestamp) }}" role="button" class="pagination-button">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if records.items %}
        {% for record in records.items %}
        <dialog id="modal-update-{{ record.record_id }}">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-update-{{ record.record_id }}" onclick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Updating record</h1>
                        <h4>What do you want to change?</h4>
                    </hgroup>
                </header>

                <form id="update-form-{{ record.record_id }}" method="post" action="{{ url_for('records.update_record', record_id=record.record_id, page_num=records.page, per_page=records.per_page, from=from_timestamp, to=to_timestamp) }}">
                    <div class="grid">
                        <div>
                            <label class="no-bottom-margin" for="timestamp">Timestamp
                                <input class="no-bottom-margin" type="datetime-local" id="update-timestamp-{{ record.record_id }}" value="{{ record.record_datetime }}" aria-label="Timestamp" name="updated-timestamp" required>
                            </label>
                        </div>
                        <div>
                            <label class="no-bottom-margin" for="mileage">Mileage
                                <input class="no-bottom-margin" type="number" id="update-mileage-{{ record.record_id }}" min="0" value="{{ record.mileage }}" aria-label="Mileage" name="updated-mileage" required>
                            </label>
                        </div>
                    </div>
                    <label class="no-bottom-margin" for="notes">Notes*
                        <input class="no-bottom-margin" type="text" id="update-notes-{{ record.record_id }}" placeholder="Add some optional notes here" value="{{ record.notes if record.notes else "" }}" aria-label="Notes" name="updated-notes">
                    </label>
                </form>

                <footer>
                    <div class="row two-button-modal">
                        <div class="col-lg-6">
                            <button class="secondary no-bottom-margin" data-target="modal-update-{{ record.record_id }}" aria-label="Cancel" onclick="toggleModal(event)">Cancel</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="submit-update-record-{{ record.record_id }}" class="no-bottom-margin" form="update-form-{{ record.record_id }}" data-target="modal-update-{{ record.record_id }}" aria-label="Confirm" onclick="toggleModal(event)">Confirm</button>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>
        {% endfor %}
        {% endif %}

        {% if records.items %}
        {% for record in records.items %}
        <dialog id="modal-delete-{{ record.record_id }}">
            <article style="min-width: 75vw;">
                <header>
                    <a class="close" data-target="modal-delete-{{ record.record_id }}" onClick="toggleModal(event)" aria-label="Close"></a>
                    <hgroup>
                        <h1>Are you sure?</h1>
                        <h4>Do you really want to delete this record?</h4>
                    </hgroup>
                </header>
                <table role="grid">
                    <thead>
                        <th style="width: 15%;">Date</th>
                        <th style="width: 15%;">Time</th>
                        <th style="width: 15%;">Mileage</th>
                        <th style="width: 55%;" class="desktop-only">Notes</th>
                    </thead>
                    <tr>
                        <td style="width: 15%;">{{ record.record_datetime.strftime("%Y-%m-%d") }}</td>
                        <td style="width: 15%;">{{ record.record_datetime.strftime("%-I:%M %p") }}</td>
                        <td style="width: 15%;">{{ record.mileage }}</td>
                        <td style="width: 55%;" class="desktop-only">{{ record.notes if record.notes else "" }}</td>
                    </tr>
                </table>
                <footer>
                    <div class="row two-button-modal">
                        <div class="col-lg-6">
                            <a href="#cancel" class="secondary full-width" role="button" data-target="modal-delete-{{ record.record_id }}" onclick="toggleModal(event)" aria-label="Cancel">Cancel</a>
                        </div>
                        <div class="col-lg-6">
                            <a class="full-width" href="{{ url_for('records.delete_record', record_id=record.record_id, page_num=records.page, per_page=records.per_page, from=from_timestamp, to=to_timestamp) }}" role="button" data-target="modal-delete-{{ record.record_id }}" onclick="toggleModal(event)" aria-label="Confirm">Confirm</a>
                        </div>
                    </div>
                </footer>
            </article>
        </dialog>
        {% endfor %}
        {% endif %}
    </main>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('records.static', filename='js/records_validate.js') }}"></script>
{% endblock %}