/* Settings page */

.edit-button {
    text-align: right;
}

.settings-group div.setting ~ div.setting {
    padding-top: 0.5em;
}

.container div.settings-group ~ div.settings-group {
    margin-top: 2.625rem;
}

.theme-setting {
    margin-bottom: 0;
    padding-bottom: 0;
}

.settings-group .setting .theme-setting {
    margin-left: auto;
}

.theme-setting > details {
    width: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
}

.danger {
    background-color: red;
    border-color: red;
}