/* Customization Buttons */

.customize-select {
    max-width: max-content;
    margin-left: auto;
}

/* Visualization */

.visualization-row {
    margin-bottom: 0;
}

.visualization-row:not(:last-child) {
    margin-bottom: var(--block-spacing-vertical);
}

.visualization {
    width: 100%;
    height: 50vh;
    min-height: 400px;
}

/* Alerts */

article.alert {
    background-color: rgba(16, 149, 194, 0.15);
}