/* Visualization */

.visualization {
    width: 100%;
    height: 50vh;
    min-height: 400px;
}

.visualization:not(:last-child) {
    margin-bottom: var(--block-spacing-vertical);
}

/* Alerts */

article.alert {
    background-color: rgba(16, 149, 194, 0.15);
}