<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico"/>
    <title>ManyMiles</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Pico.css with bootstrap grid -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico-bootstrap-grid.min.css') }}">

    <!-- Universal style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block css %}{% endblock %}
</head>
<body>
    <!-- Navigation bar -->
    <nav class="container-fluid" style="padding-right: 0;">
        <ul>
            <li>
                <a href="/" class="brand-logo">
                    <img id="brand-logo" src="{{ url_for('static', filename='img/logo-light.png') }}" alt="ManyMiles Logo">
                </a>
            </li>
            <li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="secondary">
                        Theme
                    </summary>
                    <ul role="listbox">
                        <li><a href="#" data-theme-handler="auto">Auto</a></li>
                        <li><a href="#" data-theme-handler="light">Light</a></li>
                        <li><a href="#" data-theme-handler="dark">Dark</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>

    {% block body %}{% endblock %}

    <!-- Theme-switching Javascript -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script>
        themeHandler.logoId = "brand-logo";
        themeHandler.logoLight = "{{ url_for('static', filename='img/logo-light.png') }}";
        themeHandler.logoDark = "{{ url_for('static', filename='img/logo-dark.png') }}";
        themeHandler.applyTheme();
    </script>
    {% block javascript %}{% endblock %}
</body>
</html>