<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico"/>
    <title>ManyMiles</title>

    <!-- Pico.css with bootstrap grid -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico-bootstrap-grid.min.css') }}">

    <!-- Universal style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block css %}{% endblock %}
</head>
<body>
    <!-- Navigation bar -->
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="/" class="contrast"><strong>ManyMiles</strong></a>
            </li>
        </ul>
        <ul>
            <li>
                <details role="list" dir="rtl">
                    <summary aria-haspopup="listbox" role="link" class="secondary">
                        Theme
                    </summary>
                    <ul role="listbox">
                        <li><a href="#" data-theme-handler="auto">Auto</a></li>
                        <li><a href="#" data-theme-handler="light">Light</a></li>
                        <li><a href="#" data-theme-handler="dark">Dark</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>

    {% block body %}{% endblock %}

    <!-- Theme-switching Javascript -->
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>