{% extends "login/landing.html" %}

{% block css %}
    <!-- Custom style -->
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
    <!-- Main container -->
    <main class="container">
        <article class="grid">
            <div>
                <hgroup>
                    <h1>Sign up</h1>
                    <h2>Fields marked with an asterisk (*) are optional</h2>
                </hgroup>
                <form>
                    <input type="text" name="login" placeholder="Username" aria-label="Username" autocomplete="username" required>
                    <input type="email" name="email" placeholder="Email" aria-label="Email" autocomplete="email" required>
                    <div class="grid tight">
                        <div class="tight">
                            <input type="text" name="first-name" placeholder="First Name*" aria-label="First Name" autocomplete="given-name">
                        </div>
                        <div class="tight">
                            <input type="text" name="last-name" placeholder="Last Name*" aria-label="Last Name" autocomplete="family-name">
                        </div>
                    </div>
                    <input id="new-password-input" type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="new-password" required>
                    <input id="confirm-password-input" type="password" name="confirm-password" placeholder="Confirm Password" aria-label="Confirm Password" autocomplete="new-password" required>
                    <fieldset>
                        <label for="show-passwords">
                            <input type="checkbox" role="switch" id="show-passwords" name="show-passwords" onclick="showPasswords()">
                            Show passwords
                        </label>
                    </fieldset>
                    <button type="submit" class="contrast" onclick="event.preventDefault()">Log in</button>
                </form>
                <hgroup class="sign-up">
                    <h2>
                        Already have an account?
                        <a href="/login">Sign in</a>
                    </h2>
                </hgroup>
            </div>
            <div id="hero"></div>
        </article>
    </main>
{% endblock %}

{% block javascript %}
    <!-- Input validation Javascript -->
    <script src="{{ url_for('login.static', filename='js/register_validate.js') }}"></script>
{% endblock %}