{
  "openapi": "3.0.3",
  "info": {
    "title": "ManyMiles API",
    "description": "Welcome to the documentation for the ManyMiles API.\n\nNote that API tokens expire after 24 hours.\n",
    "version": "1.0.0",
    "contact": {
      "email": "mail@jakebrehm.com"
    }
  },
  "servers": [
    {
      "url": "https://manymiles.app/api"
    }
  ],
  "tags": [
    {
      "name": "authenticate",
      "description": "Get authentication to use protected API endpoints"
    },
    {
      "name": "user",
      "description": "Access to information relevant to user accounts"
    },
    {
      "name": "record",
      "description": "Access to record data"
    }
  ],
  "paths": {
    "/authenticate": {
      "post": {
        "tags": [
          "authenticate"
        ],
        "summary": "Get API token",
        "description": "Generates a API token provided the user supplies a valid username and password combination.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "token": {
                      "$ref": "#/components/schemas/api_token"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "user associated with token does not exist; unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired; authentication failed because username and/or password were invalid or not supplied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user details",
        "description": "Get the details of the currently authenticated user such as their username, unique identification number, email, and name.\n",
        "parameters": [
          {
            "name": "api-token",
            "in": "header",
            "description": "The API token generated by the authentication endpoint.",
            "schema": {
              "$ref": "#/components/schemas/api_token"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/user_details"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Create a new user",
        "description": "Admin-only endpoint to create a new user.\n",
        "parameters": [
          {
            "name": "api-token",
            "in": "header",
            "description": "The API token generated by the authentication endpoint.",
            "schema": {
              "$ref": "#/components/schemas/api_token"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_description"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/user_details"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "email is invalid; username is invalid or unavailable; password is invalid; role id is out of range; unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "403": {
            "description": "authenticated user does not have required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Delete a user",
        "description": "Admin-only endpoint to delete a user.\n",
        "parameters": [
          {
            "name": "api-token",
            "in": "header",
            "description": "The API token generated by the authentication endpoint.",
            "schema": {
              "$ref": "#/components/schemas/api_token"
            },
            "required": true
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/user_id"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/user_details"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "403": {
            "description": "authenticated user does not have required permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "404": {
            "description": "user id is not associated with a user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      }
    },
    "/record/most-recent": {
      "get": {
        "tags": [
          "record"
        ],
        "summary": "Get user's most recent record",
        "description": "Gets the currently authenticated user's most recently recorded mileage.",
        "parameters": [
          {
            "name": "api-token",
            "in": "header",
            "description": "The API token generated by the authentication endpoint.",
            "schema": {
              "$ref": "#/components/schemas/api_token"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/user_details"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "404": {
            "description": "user has no records to retrieve",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "record"
        ],
        "summary": "Delete user's most recent record",
        "description": "Deletes the currently authenticated user's most recently recorded mileage.",
        "parameters": [
          {
            "name": "api-token",
            "in": "header",
            "description": "The API token generated by the authentication endpoint.",
            "schema": {
              "$ref": "#/components/schemas/api_token"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/user_details"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "404": {
            "description": "user has no records to delete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      }
    },
    "/record": {
      "post": {
        "tags": [
          "record"
        ],
        "summary": "Add a new record",
        "description": "Adds a new mileage record for the currently authenticated user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/record"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "api-token",
            "in": "header",
            "description": "The API token generated by the authentication endpoint.",
            "schema": {
              "$ref": "#/components/schemas/api_token"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "$ref": "#/components/schemas/code"
                    },
                    "message": {
                      "$ref": "#/components/schemas/message"
                    },
                    "data": {
                      "$ref": "#/components/schemas/user_details"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "mileage not provided; provided date is invalid; provided time is invalid; unspecified error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          },
          "401": {
            "description": "API token is missing, invalid, or has expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/failed_response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "date": {
        "type": "string",
        "format": "date",
        "description": "generic date in format %Y-%m-%d"
      },
      "time": {
        "type": "string",
        "format": "time",
        "description": "generic time in format %H:%M"
      },
      "datetime": {
        "type": "string",
        "format": "datetime",
        "description": "generic datetime in format %Y-%m-%d %H:%M"
      },
      "username": {
        "type": "string",
        "minLength": 3,
        "maxLength": 20,
        "description": "username of the user"
      },
      "password": {
        "type": "string",
        "format": "password",
        "minLength": 7,
        "description": "password of the user"
      },
      "user_id": {
        "type": "integer",
        "description": "unique identification number of the user"
      },
      "user_details": {
        "type": "object",
        "properties": {
          "user_id": {
            "$ref": "#/components/schemas/user_id"
          },
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "email": {
            "type": "string",
            "description": "email of the user"
          },
          "first_name": {
            "type": "string",
            "description": "first name of the user"
          },
          "last_name": {
            "type": "string",
            "description": "last name of the user"
          }
        }
      },
      "user_description": {
        "type": "object",
        "required": [
          "username",
          "password",
          "email"
        ],
        "properties": {
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "password": {
            "$ref": "#/components/schemas/password"
          },
          "email": {
            "type": "string",
            "description": "email of the user"
          },
          "first_name": {
            "type": "string",
            "description": "first name of the user"
          },
          "last_name": {
            "type": "string",
            "description": "last name of the user"
          },
          "role_id": {
            "type": "integer",
            "description": "unique identification number of the role"
          }
        }
      },
      "record": {
        "type": "object",
        "required": [
          "mileage"
        ],
        "properties": {
          "mileage": {
            "type": "integer",
            "description": "the mileage value to be recorded"
          },
          "date": {
            "$ref": "#/components/schemas/date"
          },
          "time": {
            "$ref": "#/components/schemas/time"
          }
        }
      },
      "record_details": {
        "type": "object",
        "properties": {
          "mileage": {
            "type": "integer",
            "description": "the mileage value to be recorded"
          },
          "notes": {
            "type": "string",
            "description": "notes of a record"
          },
          "recorded": {
            "$ref": "#/components/schemas/datetime"
          },
          "created": {
            "$ref": "#/components/schemas/datetime"
          },
          "updated": {
            "$ref": "#/components/schemas/datetime"
          }
        }
      },
      "login": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "$ref": "#/components/schemas/username"
          },
          "password": {
            "$ref": "#/components/schemas/password"
          }
        }
      },
      "code": {
        "type": "string",
        "description": "code of the response"
      },
      "message": {
        "type": "string",
        "description": "message of the response"
      },
      "failed_response": {
        "type": "object",
        "properties": {
          "code": {
            "$ref": "#/components/schemas/code"
          },
          "message": {
            "$ref": "#/components/schemas/message"
          }
        }
      },
      "api_token": {
        "type": "string",
        "description": "The API token generated by the authentication endpoint."
      }
    }
  }
}